<div class="container-fluid">
  <h2 class="text-center">Create new entry</h2>
  <hr>
  <form #diaryForm='ngForm'>
    <div class="form-group">

      <label for="title">Title</label>
      <input type="text" required class="form-control" id="title" [(ngModel)]="newEntry.title" name="title"
        #name='ngModel' required>
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        <p>Name is required</p>
      </div>
      Display {{newEntry.title}}
    </div>
    <div class="form-group">

      <label for="entry">Entry</label>
      <textarea class="form-control" id="entry" rows="4" [(ngModel)]="newEntry.entry" name="entry" #name='ngModel'
        required></textarea>
      <div [hidden]="entry.valid || entry.pristine" class="alert alert-danger">
        <p>Entry is required</p>
      </div>

    </div>
    <div class="form-group">
      <label for="entryDate">Entry Date</label>
      <input type='date' id="entryDate" [(ngModel)]="newEntry.entryDate" name="entryDate" #name='ngModel' required>
      <div [hidden]="entryDate.valid || entryDate.pristine" class="alert alert-danger">
        <p>Entry Date is required</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Entry</button>
  </form>
</div>
