.card {
  background-image: url("../../assets/img.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bolder;
  font-size: larger;
  opacity: 0.74;
}
